# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# msbuild output directories
/**/bin
/**/obj

# packed plug-in package used by mapping.xml
/out

# vs intermediate directory
/.vs

# MSBuild Binary and Structured Log
*.binlog

